
body {
    display: flex;
    justify-content: center;
    background-color: bisque;
    display: flex;
    flex-direction: column;

}


.input {
    margin-top: 50px;
    text-align: center;
    border: 10px solid black;
    border-radius: 5px;
}

.input::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    opacity: 0.6;
}

.submit {
    font-size: 15px;
    border-radius: 5px;
    background: #db3b86;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    margin: 20px 0px 0px 42px;
    width: 100px;
    height: 40px;
}

.submit:hover {
        box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
        transform: scale(1.1);

}

.result-request {
        display: flex;
        flex-wrap: wrap;
        margin: 32px 5px;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}